# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# Data and Logs
data_partitions1/
data_partitions_new/
data_for_s3/
logs/
*.log
*.csv

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db 

femnist/data
femnist/data_partitions_speech_commands/raw
venv_ixia/
venv_ixi/